body {
    background-color: #f5b461;
}

h2 {
    margin-left: 25%;
}

.todo-list {
    background-color: #f3eac2;
    width: 40%;
    height: 250px;
    margin-top: 12%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.todoList {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    padding-left: 37%;
    padding-bottom: 20px;
    width: 70%;
    font-weight: 500;
    font-size: 15px;
    color: #ec524b;    
}
